@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
  margin: 10;
  padding: 30;
  box-sizing: border-box;
}
body {
  
  background-color: #E6E6FA;
  background-image: linear-gradient(
      115deg,
      rgba(89, 58, 158, 0.9),
      rgba(135, 226, 306, 0.8)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSwK1iryLBryMft8CbUv6sv79eqrEA7ar5AQ6oGrPuSOG94XJDQ&usqp=CAU);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}
#wrapper {
  position: relative;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  padding: 0 20px;
  height: 30px;
  font-size: 1em;
  font-weight: 750;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 10px;
  background: #FFDEAD;
  cursor: pointer;
}
.grid {
  display: flex;
}
header {
  position: relative;
  top: 10;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.logo {
  width: 60vw;  
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  width: 90%;
  height: 90%;
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
nav
{
  font-weight: 400;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
    margin: auto;
  }
}

nav > ul {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: relative;
  flex-direction: relative;
  align-items: relative;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: relative;
  border-radius: 3px;
  background: pink;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.9),
      rgba(136, 136, 206, 0.4)
    )
}

  .product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}
  .product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: transparent;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    )
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
 
  margin: auto;
  padding: 0;
  width:0vw;
  text-align:relative;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}